extends layout.pug
block content
	#sidebar
		h1 Details
		#point
			strong Age range: 
			br.point-break
			strong Clothing description: 
			br.point-break
			strong Injury status: 
			br.point-break
			strong Reason for help: 
		button#close-btn Close

	#map

	script(type='text/javascript').
		var map = L.map('map').setView([#{lat},#{lng}], 13);
		var points = !{JSON.stringify(points)};
		console.log(points);
	script(src='/javascripts/map.js')
