extends layout.pug
block content
	#sidebar
		h1#details-header Details
		#report-container
			#report
				strong Gender
				span#report-gender
				strong Age range
				span#report-age-range
				strong Race
				span#report-race
				strong Other Arrtibutes
				span#report-other
				strong Distinctive Features
				span#report-distinctive
		#close-btn-container
			button#close-btn Close

	#map

	script(type='text/javascript').
		var map = L.map('map').setView([#{lat},#{lng}], 13);
		var points = !{JSON.stringify(points)};
		console.log(points);
	script(src='/javascripts/map.js')
