extends layout.pug
block content
    #sidebar
        h1 This is a sidebar
    #map

    script(type='text/javascript').
        var map = L.map('map').setView([#{lat},#{lng}], 15);
    script(src='/javascripts/map.js')


